{% block _article_images_entry_row %}
    <div class="entry">
        {% if value %}
            <img src="{{ asset('/uploads/'~value.name) }}" alt="" width="150">
        {% endif %}
        {{ form_row(form.name) }}
    </div>
{% endblock %}
{#
{% block _article_videos_row %}
    <div class="entry-video">
        {% if value %}
        <iframe src="{{ value.link }}"></iframe>
        <p>{{ video.title }}</p>
        {% endif %}
    </div>
{% endblock %}
#}